# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lrbapp?schema=public"

# Server
PORT=3001
NODE_ENV=development

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
